@{
    ViewData["Title"] = "Ürün Çıkış";
}
@model StockControlApp.Models.ViewModels.OrderViewModel
<div class="col-lg-12">
    <div>
        <div class="card">
            @if (TempData["productOverAmount"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["productOverAmount"]
                </div>
            }
            <div class="card-body ">
                <h4 class="text-center">Ürün Çıkış Formu</h4>
                <hr />
                <div class="tab-content ">
                    <div class="tab-pane fade active show ">
                        <div class="pt-3">

                            <form method="POST" asp-controller="Orders" asp-action="OrderProduct">
                                <div class="form-group col-md-12">
                                    <label>Müşteri Adı:</label>
                                    <input type="text" asp-for="EmployeeName" name="employeeName" placeholder="Müşteri adı giriniz" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Ürün Seçiniz:</label>
                                    @if (@Model.ProductName != null)
                                    {
                                        <input type="text" asp-for="ProductName" name="productName" placeholder="Müşteri adı giriniz" class="form-control" readonly>
                                        <input type="hidden" asp-for="ProductId"/>
                                    }
                                    else
                                    {
                                        <select class="form-control" asp-for="ProductId" asp-items="@ViewBag.ListProductName">
                                            <option selected disabled>Seçiniz</option>
                                        </select>
                                    }
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Ürün Adedi:</label>
                                    <input type="number" asp-for="OrderAmount" name="orderAmount" placeholder="Ürün adedi giriniz" class="form-control">
                                </div>
                                <div class="text-center">
                                    <input style="margin-top: 10px; width: 150px;" type="submit" value="Kaydet" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>