<div class="footer">
    <div class="copyright">
        <p>
            &copy; 2022 - StockControlApp - <a href="https://oguzcihan.github.io/#home" target="_blank">Oğuzhan Cihan</a>
        </p>
    </div>
</div>
